# =========================
# Global
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.env
.env.*.local
*.bak

# =========================
# Bun.js (Node.js)
# =========================
# Node/Bun dependencies
node_modules/
bun.lockb

# Build artifacts
dist/
build/
coverage/

# Bun-specific
.bun-install-cache/

# Test output
*.test.js
*.test.ts

# Editor settings
.vscode/
.idea/

# =========================
# Terraform
# =========================
# Local state files
*.tfstate
*.tfstate.backup

# Terraform working directory
.terraform/

# Crash logs
crash.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Ignore override files and plan outputs
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.plan

# =========================
# OS-specific
# =========================
# macOS
.AppleDouble
.LSOverride

# Windows
ehthumbs.db
Desktop.ini
